<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-title-1">
        <%= image_tag 'porton-logo-footer.png', class: 'porton-logo-footer' %>
        <h3 class="title-footer">SALA DE VENTAS</h3>
      </div>
      <div class="col-md-12 mg-top-1">
        <div class="col-md-6 text-right no-padding">
          <%= image_tag 'footer-logo1.png' %>
          <span class="footer-text footer-text-right">portondelnorte1@une.net.co</span>
        </div>
        <div class="col-md-6 text-left no-padding">
          <span class="footer-text pd-left-5">contactosview@gmail.com</span>
        </div>
      </div>
      <div class="col-md-12 mg-top-1">
        <div class="col-md-6 text-right no-padding">
          <%= image_tag 'footer-logo2.png' %>
          <span class="footer-text footer-text-right">4825775</span>
        </div>
        <div class="col-md-6 text-left">
          <span class="footer-text pd-left-5">4825782</span>
        </div>
      </div>
      <div class="col-md-12 mg-top-1">
        <%= image_tag 'footer-logo3.png' %>
        <span class="footer-text pd-left-3">Carrera 84A No 39-43 Antigua Vía Machado hacia Copacabana</span>
      </div>
      <div class="col-md-12 mg-top-1">
        <%= image_tag 'footer-logo4.png' %>
        <span class="footer-text pd-left-3">Horarios: 10:00 am a 5:00 pm</span>
      </div>
      <div class="col-md-12 mg-top-1 small-letter">
        Las imágenes utilizadas son representaciones digitales del diseño y junto con las oficinas pueden variar en la construcción final. El mobiliario, electrodomésticos, gasodomésticos, acabados
        y demás elementos que aparecen en las imágenes son una representación a fin de ilustrar la utilización de los espacios y pueden diferir de lo entregado o no ser entregado según lo
        convenido en los contratos. Las áreas privadas y construidas podrán sufrir ajustes y quedarán finalmente determinadas en los contratos suscritos por las partes.
      </div>
    </div>
  </div>
  <div class="footer-habla text-center">
    <p class="text-center no-margin">Powered by
      <%= link_to image_tag("habla-creativo.png",
      onmouseover: "this.src='#{asset_path("habla-creativo-hover.png")}'",
      onmouseout: "this.src='#{asset_path("habla-creativo.png")}'",
      alt: "Grupo Habla Creativo", width: "40",
      class: "lazy"),
      'http://www.hablacreativo.com/', target: "_blank" %>
    </p>
  </div>
</footer>
<!-- .site-footer -->
