<!-- Modal Terms and Conditions -->
<div class="modal fade" id="terms-and-conditions-home">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close close" data-dismiss="modal" aria-hidden="true"
				onclick="$('#carousel-visitantes').attr('style','z-index:-1')">×</button>
				<h3 class="modal-title">Términos y condiciones</h3>
			</div>
			<div class="modal-body">
        <p class="text-justify">
					En cumplimiento de la Ley 1581 de 2012 y el decreto 1377 de 2013. Mediante el registro de sus datos personales en el presente formulario usted AUTORIZA EXPRESAMENTE a UMBRAL PROPIEDAD RAIZ S.A, para la recolección, almacenamiento y uso de los mismos; con la finalidad de informarle sobre el proyecto en que se encuentra interesado y los demás proyectos inmobiliarios en donde vende, construye y/o gerencia. Como titular de la información tiene derecho a conocer, actualizar y rectificar sus datos personales, solicitar prueba de la autorización otorgada para su tratamiento, ser informado sobre el uso que se ha dado a los mismos, presentar quejas ante la Superintendencia de Industria y Comercio por infracción a la ley, revocar la autorización y/o solicitar la supresión de sus datos y acceder en forma gratuita a los mismos. Para consultar la política de tratamiento de datos personales y para conocer el modo de ejercer los derechos que le asisten como titular de datos personales, puede ingresar a la página www.umbral.co o a través del correo electrónico info@umbral.co para elevar sus consultas o reclamos.<br>
					El descuento se aplica para el valor del apartamento, según lista de precios vigente en la sala de ventas en el momento del cierre del negocio.<br>
					Este descuento solamente aplica para las personas que registren sus datos a través de este formulario y tendrá una vigencia desde xxx hasta el xxx de xxxx de 2017.<br>
					El descuento no es redimible por dinero en efectivo, ni es transferible a un tercero. Aplica únicamente para negocios cerrados y legalizados ante la entidad fiduciaria del proyecto Canarias.
        </p><br>

			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" style="background-color: #122f3c; border: none;"  data-dismiss="modal"><i class="fa fa-arrow-left"></i> Volver</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal Terms and Conditions -->
<div class="popup-response">
		<div class="alert alert-success fade in">
			<strong>Gracias!</strong> Muy pronto nos estaremos comunicando contigo
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body text-center">
					<%= image_tag 'planos/p1.jpg' %>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal2" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body text-center">
					<%= image_tag 'planos/p3.jpg' %>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal3" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body text-center">
					<%= image_tag 'planos/p2.jpg' %>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal4" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body text-center">
					<%= image_tag 'planos/p4.jpg' %>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body text-center">
					<p class="text-center"><b>Términos y Condiciones</b></p><br>
					<p class="text-justify">
						En cumplimiento de la Ley 1581 de 2012 y el decreto 1377 de 2013. Mediante el registro de sus datos
						personales en el presente formulario usted AUTORIZA EXPRESAMENTE a UMBRAL PROPIEDAD RAIZ S.A, para
						la recolección, almacenamiento y uso de los mismos; con la finalidad de informarle sobre el proyecto
						en que se encuentra interesado y los demás proyectos inmobiliarios en donde vende, construye y/o
						gerencia. Como titular de la información tiene derecho a conocer, actualizar y rectificar sus datos
						personales, solicitar prueba de la autorización otorgada para su tratamiento, ser informado sobre el
						uso que se ha dado a los mismos, presentar quejas ante la Superintendencia de Industria y Comercio
						por infracción a la ley, revocar la autorización y/o solicitar la supresión de sus datos y acceder
						en forma gratuita a los mismos. Para consultar la política de tratamiento de datos personales  y
						para conocer el modo de ejercer los derechos que le asisten como titular de datos personales, puede
						ingresar a la página www.umbral.co o a través del correo electrónico info@umbral.co para elevar sus
						consultas o reclamos.
					</p><br>

					<p class="text-justify">
						El descuento se aplica para el valor del apartamento, según lista de precios vigente en la sala de
						ventas en el momento del cierre del negocio.
					</p><br>

					<p class="text-justify">
						Este descuento solamente aplica para las personas que registren sus datos a través de este formulario
						y tendrá una vigencia desde xxx hasta el xxx de xxxx de 2016.
					</p><br>

					<p class="text-justify">
						El descuento no es redimible por dinero en efectivo, ni es transferible a un tercero. Aplica únicamente
						para negocios cerrados y legalizados ante la entidad fiduciaria del proyecto Amaretto.
					</p><br>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal5" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
				<div class="modal-body text-center"><%= image_tag 'apartamentos/apto-1-grande.png' %></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal6" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
				<div class="modal-body text-center"><%= image_tag 'apartamentos/apto-2-grande.png' %></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal7" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
				<div class="modal-body text-center"><%= image_tag 'apartamentos/apto-3-grande.png' %></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal8" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
				<div class="modal-body text-center"><%= image_tag 'apartamentos/apto-4-grande.png' %></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal9" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
				<div class="modal-body text-center"><%= image_tag 'apartamentos/apto-5-grande.png' %></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal10" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
				<div class="modal-body text-center"><%= image_tag 'apartamentos/apto-6-grande.png' %></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal11" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
				<div class="modal-body text-center"><%= image_tag 'apartamentos/apto-7-grande.png' %></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal12" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
				<div class="modal-body text-center"><%= image_tag 'apartamentos/apto-8-grande.png' %></div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal13" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body text-center">
					<%= image_tag 'planos/p5.jpg' %>
				</div>
			</div>
		</div>
	</div>
	<!-- IE alert -->
	<div class="text-center" id="getOut">
		<p>Estás utilizando una versión desactualizada de Internet Explorer, esto hará que no puedas visualizar correctamente nuestra página. Te invitamos a que descargues Chrome, Safari o Mozilla Firefox y puedas ver toda la información que tenemos para ti.
		</p>
	</div>

	<!-- Nav -->
	<div class="navbar navbar-inverse navbar-fixed-top" id="navigation">
		<%= image_tag 'logo-header.png', id: 'logo-navbar', class: 'hide-on-mobile' %>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle btn-span" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav text-nav-li">
					<li><a href="#proyecto">PROYECTO</a></li><span class="hover-color"> | </span>
					<li><a href="#galeria">GALERÍA</a></li><span class="hover-color"> | </span>
					<li><a href="#areas">APARTAMENTOS</a></li><span class="hover-color"> | </span>
					<li><a href="#tres-sesenta"> RECORRIDO 360</a></li><span class="hover-color"> | </span>
					<li><a href="#ubicacion">MAPA</a></li><span class="hover-color"> | </span>
					<li><a href="#inicio"> CONTACTO</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /Nav -->

	<header id="inicio">
  <!-- Video BG Init -->
  <div class="image-bg"></div>
  <!-- End Video BG Init -->
   <div class="home-text-rotate video">
     <div class="slide">
       <div class="content">
         <div class="display-tc">
           <div class="text-center wow" data-wow-delay=".45s">
             <div class="row">
               <div class="col-md-8 col-md-offset-2">
                 <div class="col-md-3 col-md-offset-2 no-padding h478">
                   <div class="logo-header-container">
										 <%= image_tag 'img-promo.png',class:'hide-on-mobile img-text-header', alt: "Bono" %>
										 <%= image_tag 'img-text-header-mobile.png',class:'hide-on-desktop show-on-mobile', alt: "Bono" %>
                   </div>
                 </div>
                 <div class="col-sm-6 form-header-container no-padding hidden-xs">
									 <%= image_tag 'img_bono.png',class:'img-promo', alt: "Bono" %>
                   <%= form_for @user, url: '/contact_us_top/', id: 'contact-form', method: 'post', class: 'row'  do |u| %>
                     <div class="form-group">
                       <%= u.text_field :name,  required: 'required', type: 'text', class: 'form-control mt20', placeholder: "Nombre*", style: 'color:black;' %>
                     </div>
                     <div class="form-group">
                       <%= u.text_field :email,  required: 'required', type: 'email', class: 'form-control', placeholder: "Correo electrónico*", style: 'color:black;' %>
                     </div>
                     <div class="form-group">
                       <%= u.text_field :phone,  required: 'required', type: 'text', class: 'form-control', placeholder: "Teléfono*", style: 'color:black;' %>
                     </div>
                     <div class="form-group">
                       <%= u.text_field :country,  required: 'required', type: 'text', class: 'form-control', placeholder: "Ciudad*", style: 'color:black;' %>
                     </div>
                     <div class="form-group">
                       <%= u.text_area :comment, required: 'required', class: 'form-control', placeholder: "Comentario*", style: 'color:black;' %>
                     </div>
                     <div class="terms-header">
                       Al hacer clic en enviar, estás aceptando los
                       <strong><%= link_to 'términos y condiciones', '#terms-and-conditions-home', class:'',:data =>{:toggle=>"modal"} %></strong>
                     </div>
                     <div class="mt20">
                       <%= submit_tag 'ENVIAR', name: 'submit', class: 'btn btn-rounded-black contact-btn-top', type: 'submit' %>
                     </div>
                   <% end %>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</header>

<article class="hide-on-desktop show-on-mobile">
	<p class="header-price-info-mobile text-center-import"><%= image_tag 'img_bono.png?v=1.0.0',class:'bono-mobile', alt: "Bono" %></p>
	<div class="hidden-form text-center mb20">
		<%= form_for @user, url: '/contact_us_top/', id: 'contact-form', method: 'post', class: 'row'  do |u| %>
		<div class="content-hidden-form">
			<div class="form-group">
				<%= u.text_field :name,  required: 'required', type: 'text', class: 'form-control mt20', placeholder: "Nombre*", style: 'color:black;' %>
			</div>
			<div class="form-group">
				<%= u.text_field :email,  required: 'required', type: 'email', class: 'form-control', placeholder: "Correo electrónico*", style: 'color:black;' %>
			</div>
			<div class="form-group">
				<%= u.text_field :phone,  required: 'required', type: 'text', class: 'form-control', placeholder: "Teléfono*", style: 'color:black;' %>
			</div>
			<div class="form-group">
				<%= u.text_field :country,  required: 'required', type: 'text', class: 'form-control', placeholder: "Ciudad*", style: 'color:black;' %>
			</div>
			<div class="form-group">
				<%= u.text_area :comment, required: 'required', class: 'form-control', placeholder: "Comentario*", style: 'color:black;' %>
			</div>
		</div>
			<div class="terms-header">
				Al hacer clic en enviar, estás aceptando los
				<strong><%= link_to 'términos y condiciones', '#terms-and-conditions-home', class:'',:data =>{:toggle=>"modal"} %></strong>
			</div>
			<div class="mt20">
				<%= submit_tag 'Enviar', name: 'submit', class: 'btn btn-rounded-black contact-btn-top', type: 'submit' %>
			</div>
		<% end %>
	</div>
</article>

	<!-- apartamentos -->
	<section id="proyecto">
		<!-- Caracteristicas -->
		<!-- Container -->
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-12 text-center left-side">
					<div class="box-nuestro-proyecto">
						<span class="box-nuestro-text">NUESTRO <br> PROYECTO</span>
					</div>
					<%= image_tag ('aptos-project.png'), class: 'img-project-apto' %>
				</div>
				<div class="col-md-6 col-xs-12 right-project">
					<p class="text-justify paragraph color-white" id="aptos-text">
						<strong>Portón del Norte</strong> es un hermoso proyecto de tan solo 2 torres de apartamentos,
						ubicado en Copacabana, en un sector en pleno desarrollo conocido como
						loma Los Álvarez, en límites con Bello y a solo 5 minutos de la estación del
						Metro de Niquía.
						<br>
						<br>
						Una de las fortalezas que tiene Portón del Norte es su cercanía con el transporte
						público. Por estar sobre la vía Machado, cuenta con ruta de buses que lo
						conectan con el metro y por tanto con toda el área metropolitana
					</p>
					<p><strong id="aptos-subtitle">Cerca de:</strong></p>
					<ul class="ml-14">
						<li>Tránsito de Envigado.</li>
						<li>Clínica de la policía.</li>
						<li>Metroplús.</li>
						<li>Centros comerciales.</li>
						<li>Colegios.</li>
						<li>Av. El Poblado.</li>
						<li>Av. Las Vegas.</li>
					</ul>
				</div>
			</div>
		</div>
		<!--/Container -->
		<!-- /Caracteristicas -->

		<!-- Atractivos -->
		<div  id="atractivos" class="atractivos">
			<div class="container ">
				<div id="home-center" class="text-center element_fade_in center-block">
					<h1 class="titles mb-30">ZONAS SOCIALES</h1>
					<div class="row">
						<div class="col-sm-1">
						</div>
						<div class="col-sm-2 col-xs-6">
							<%= image_tag 'beneficios/beneficio-1.png', alt:'Salón social' %>
							<figcaption class="mb-30">Portería</figcaption>
						</div>
						<div class="col-sm-2 col-xs-6">
							<%= image_tag 'beneficios/beneficio-2.png', alt:'Salón living room' %>
							<figcaption class="mb-30">Salón social</figcaption>
						</div>
						<div class="col-sm-2 col-xs-6">
							<%= image_tag 'beneficios/beneficio-3.png', alt:'Gimnasio' %>
							<figcaption class="mb-30">Cancha de fútbol sintética (no profesional)</figcaption>
						</div>
						<div class="col-sm-2 col-xs-6">
							<%= image_tag 'beneficios/beneficio-4.png', alt:'Jacuzzi' %>
							<figcaption class="mb-30">Gimnasio al aire libre</figcaption>
						</div>
						<div class="col-sm-2 hidden-xs">
							<%= image_tag 'beneficios/beneficio-5.png', alt:'Casa de muñecas' %>
							<figcaption class="mb-30">Piscina adultos y niños</figcaption>
						</div>
						<div class="col-sm-1">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-2 col-xs-6">
							<%= image_tag 'beneficios/beneficio-6.png', alt:'Juegos infantiles' %>
							<figcaption class="mb-30">Juegos infantiles</figcaption>
						</div>
						<div class="col-sm-2 col-xs-6">
							<%= image_tag 'beneficios/beneficio-7.png', alt:'Parque para mascotas' %>
							<figcaption class="mb-30">BBQ</figcaption>
						</div>
						<div class="col-sm-2 col-xs-6">
							<%= image_tag 'beneficios/beneficio-8.png', alt:'Piscina' %>
							<figcaption class="mb-30">Zona para mascotas</figcaption>
						</div>
						<div class="col-sm-2 col-xs-6">
							<%= image_tag 'beneficios/beneficio-9.png', alt:'Turco' %>
							<figcaption class="mb-30">Parqueaderos de visitantes</figcaption>
						</div>
						<div class="col-sm-2">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Atractivos -->
		<article id="galeria">
			<h1 class="titles center-block title-div imgs-title">IMÁGENES DEL PROYECTO</h1>
			<div id="carousel-visitantes" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators hidden-xs hidden-sm">
						<li data-target="#carousel-visitantes" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-visitantes" data-slide-to="1"></li>
						<li data-target="#carousel-visitantes" data-slide-to="2"></li>
						<li data-target="#carousel-visitantes" data-slide-to="3"></li>
						<li data-target="#carousel-visitantes" data-slide-to="4"></li>
						<li data-target="#carousel-visitantes" data-slide-to="5"></li>
						<li data-target="#carousel-visitantes" data-slide-to="6"></li>
					</ol>

					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<%= image_tag 'content/galeria/galeria_img1.png', class: 'lazy', data: {original: "Banner 1"} %>
						</div>
						<div class="item">
							<%= image_tag 'content/galeria/galeria_img2.png', class: 'lazy', data: {original: "Banner 2"} %>
						</div>
						<div class="item">
							<%= image_tag 'content/galeria/galeria_img3.png', class: 'lazy', data: {original: "Banner 3"} %>
						</div>
						<div class="item">
							<%= image_tag 'content/galeria/galeria_img4.png', class: 'lazy', data: {original: "Banner 4"} %>
						</div>
						<div class="item">
							<%= image_tag 'content/galeria/galeria_img5.png', class: 'lazy', data: {original: "Banner 5"} %>
						</div>
						<div class="item">
							<%= image_tag 'content/galeria/galeria_img6.png', class: 'lazy', data: {original: "Banner 6"} %>
						</div>
					</div>

					<!-- Controls -->
					<%= link_to('#carousel-visitantes', role: 'button', class: 'left carousel-control', data: {slide: 'prev'}) do %>
						<i class="fa fa-chevron-left glyphicon-chevron-left"></i>
					<% end %>
					<%= link_to('#carousel-visitantes', role: 'button', class: 'right carousel-control', data: {slide: 'next'}) do %>
						<i class="fa fa-chevron-right glyphicon-chevron-right"></i>
					<% end %>
			</div>
	  </article>

		<!-- Areas -->
		<div id="areas">
			<!-- <div id="title-areas">
				<div class="row">
					<div class="col-md-3 col-md-offset-3 pd-3 no-padding-right text-left br-white left-area-title">
						<h3 class="blue-intercasa">
							<div class="col-md-12 no-padding">
								APARTAMENTOS
							</div>
							<div class="col-md-12 no-padding">
								<strong>DESDE $115.000.000*</strong>
							</div>
							<div class="col-md-12 no-padding">
								<span>*INCLUYE PARQUEADERO</span>
							</div>
							</h3>
					</div>
					<div class="col-sm-6 text-left pd-left-3 roght">
						<h3 class="orange-intercasa">ÁREAS DESDE <br><strong>46 M² HASTA 70 M²</strong></h3>
					</div>
				</div>
			</div> -->
			<div id="title-areas">
				<div class="row">
					<div class="col-md-6 col-xs-12 text-right center-in-mobile">
						<%= image_tag 'aptos-1.png', class: 'logo-area-1' %>
					</div>
					<div class="col-md-6 col-xs-12 text-left center-in-mobile">
						<%= image_tag 'aptos-2.png', class: 'logo-area-2' %>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-padding">
					<div class="col-md-8 col-xs-12">
						<div class="col-md-6">
							<div class="text-center">
								<div class="col-md-12 no-padding">
									<%= link_to '#myModal', class: '', :data =>{:toggle=>"modal"} do  %>
									<%= image_tag 'planos/plano-1.png', alt: 'Apartamentos Amaretto' %>
									<% end %>
								</div>
								<div class="col-md-12 box-area bg-color-blue">
									<h3>TIPO F - G (46M2)</h3>
									<p class="pd-bottom-12">
										Área total construida: 46 m2
										Área privada construida: 40 m2 Cocina, zona de ropas, salón - comedor,
										baño social, alcoba auxiliar, alcoba principal
									</p>
								</div>
							</div>
							<div class="text-center box-container">
								<div class="col-md-12 no-padding">
									<%= link_to '#myModal2', class: '', :data =>{:toggle=>"modal"} do  %>
									<%= image_tag 'planos/plano-2.png', alt: 'Apartamentos Amaretto' %>
									<% end %>
								</div>
								<div class="col-md-12 box-area bg-color-blue">
									<h3>TIPO A - D (70M2)</h3>
									<p>
										Área total construida: 70 m2
										Área privada construida: 63 m2 Cocina,
										zona de ropas, sala - comedor- estudio,
										baño social, balcón, dos alcobas auxiliares,
										alcoba principal con baño
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="text-center margin-top-responsive-box">
								<div class="col-md-12 no-padding">
									<%= link_to '#myModal3', class: '', :data =>{:toggle=>"modal"} do  %>
									<%= image_tag 'planos/plano-3.png', alt: 'Apartamentos Amaretto' %>
									<% end %>
								</div>
								<div class="col-md-12 box-area bg-color-blue">
									<h3>TIPO B - C - E - H (61M2)</h3>
									<p class="pd-bottom-12">
										Área total construida: 61 m2
										Área privada construida: 55 m2 Cocina, zona de ropas, salón - comedor,
										baño social, balcón, dos alcobas auxiliares, alcoba principal con baño
									</p>
								</div>
							</div>
							<div class="text-center box-container">
								<div class="col-md-12 no-padding">
									<%= link_to '#myModal4', class: '', :data =>{:toggle=>"modal"} do  %>
									<%= image_tag 'planos/plano-4.png', alt: 'Apartamentos Amaretto' %>
									<% end %>
								</div>
								<div class="col-md-12 box-area bg-color-blue">
									<h3>TIPO B - C TORRE 2 (68M2)</h3>
									<p>
										Área total construida: 68 m2
										Área privada construida: 61 m2 Cocina,
										zona de ropas, salón - comedor , baño
										social, balcón, dos alcobas auxiliares,
										alcoba principal con baño
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="text-center margin-top-responsive-box">
							<div class="col-md-12 no-padding">
								<%= link_to '#myModal13', class: '', :data =>{:toggle=>"modal"} do  %>
									<%= image_tag 'planos/plano-5.png', alt: 'Apartamentos Amaretto' %>
								<% end %>
							</div>
							<div class="col-md-12 box-area bg-color-blue">
								<h3 class="solo-text">URBANISMO</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Areas -->
	</section>
	<!--/apartamentos -->

	<section class="container-fluid" id="tres-sesenta">
		<div class="row">
			<div class="col-md-6 col-xs-12 text-right">
				<%= image_tag '360-text.png', class: 'img-left-360' %>
			</div>
			<div class="col-md-6 col-xs-12 text-left label-360">
				<%= image_tag '360-360.png', class: 'img-right-360' %><br>
				<%= link_to 'HACER RECORRIDO', 'http://embed.walk360.co/VideoDetail.aspx?v=362', class: 'btn btn-360', target: '_blank' %>
			</div>
		</div>
	</section>

	<!-- ubicacion -->
	<section id="ubicacion" class="ubicacion">
		<div class="container mycontainer">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="location-project">UBICACIÓN DEL PROYECTO</h3>
				</div>
				<div class="col-md-12 text-center">
					<%= image_tag 'mapa.png', class: 'hide-on-mobile' %>
					<div class="">
						<%= link_to root_path, class: 'hide-on-desktop show-on-mobile' do %>
							<%= image_tag 'waze-logo', class: 'wase-logo' %>
						<% end %>
					</div>
				</div>
		</div>
		<div class="clearfix"></div>
	</section>
	<!--/ubicacion -->
	<section id="sponsors">
		<h3 class="sponsors-title">GRUPO PROFESIONAL</h3><br>
		<div class="row">
			<div class="col-md-2 col-xs-6 col-md-offset-3 mb-3">
				<div class="col-md-12">
					<%= image_tag 'sponsor1.png', class: 'img-sponsors' %>
				</div>
				<div class="col-md-12">
					<span>CONSTRUCCIÓN</span>
				</div>
			</div>
			<div class="col-md-2 col-xs-6 mb-3">
				<div class="col-md-12">
					<%= image_tag 'sponsor2.png', class: 'img-sponsors' %>
				</div>
				<div class="col-md-12">
					<span>VENTAS</span>
				</div>
			</div>
			<div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-md-2 mb-3">
				<div class="col-md-12">
					<%= image_tag 'sponsor3.png', class: 'img-sponsors' %>
				</div>
				<div class="col-md-12">
					<span>FIDUCIARÍA</span>
				</div>
			</div>
		</div>
	</section>
<%= render partial: 'footer' %>
